html,body{
  background-color: #f5f5f5;
}

.glyphicon{
  font-size:12px ;
  color:#9ccf58 ;
}
th{
  font-size:15px;
  color:#9ccf58;
}
.navbar{
  background-color: #9ccf58;
}

.navbar-default{
  border:none;
}

.navbar-default .navbar-brand,.navbar-default .navbar-nav>li>a{
  color:#000;
}

.navbar .brand img{
  max-width:39%;
  max-height:27%;
}

li a img{
  width:1%;
  height:5%;
}

.panel,.panel-default,.panel-heading{
  background-color: #9ccf58 ;
}

.panel-default>.panel-heading{
  background-color:#9ccf58;
  border:1px solid transparent;
}

.panel-body{
  background-color: #f5f5f5;

}

h1,h2,h3,h4,li,p,a,.btn-link{
  color:#9ccf58;
}

a:hover,.btn-link:hover{
  color:#739249;
}

.btn{
  margin-bottom:2px;
}

.btn-primary{
  background-color:#9ccf58;
  border-color:#9ccf58;
}

.btn:focus,.btn:active:focus{
  outline:none;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary:target{
  background-color:#739249;
  border-color:#739249;
}


.form-control:focus {
  border-color:#9ccf58;
  box-shadow: inset 0 1px 1px rgba(156, 207, 88, 0.075), 0 0 8px rgba(156, 207, 88, 0.6);
}

.container{
   width:95% !important;
}


.help-block {
  color: #AC2925 !important;
}

body {
  padding-top: 70px;
}